<!DOCTYPE html>
<html theme="white" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruno Sarverry</title>
    <style>
        @media (min-width: 544px) {
            .text-header {
                color: #fff;
            }
        }
    </style>
    <link rel="stylesheet" href="css/tabler.min.css">
</head>

<body class="bg-white">
    <div class="wrapper">
        <header class="navbar navbar-expand-md navbar-dark navbar-overlap d-print-none"></header>
        <div class="page-wrapper">
            <div class="page-header">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/16327557">
                            </div>
                        </div>
                        <div class="col-md-9 mt-3">
                            <h1 class="text-header">Bruno Sarverry</h1>
                            <p class="text-header">Developer Python - Ing. en Sist. de Información (fut.)</p>
                            <span class="btn-list">
                                <a href="mailto:bruno.sarverry@outlook.com" class="btn btn-sm btn-secondary">
                                    <i data-feather="mail" class="icon me-2"></i>
                                    Email
                                </a>
                                <a href="https://github.com/bruino" class="btn btn-sm">
                                    <i data-feather="github" class="icon me-1" style="width: 15px; height: 15px;"></i>
                                    Github
                                </a>
                                <a href="https://www.linkedin.com/in/bruno-sarverry-0365a81b9/" class="btn btn-sm">
                                    <i data-feather="linkedin" class="icon me-1" style="width: 15px; height: 15px;"></i>
                                    Linkedin
                                </a>
                                <a href="https://dev.to/bruino" class="btn btn-sm">
                                    <i data-feather="pen-tool" class="icon me-1" style="width: 15px; height: 15px;"></i>
                                    Blog
                                </a>
                            </span>
                            <!-- Bio -->
                            <p class="mt-4">Soy 🇦🇷 argentino , <em>per se</em> soy adicto al <a
                                    href="https://es.wikipedia.org/wiki/Fernet">fernet</a> y el <a
                                    href="https://es.wikipedia.org/wiki/Mate_(infusi%C3%B3n)">mate</a>. Curioso y
                                detallista. Apasionado a la programación. Mi personalidad es la observación, según
                                cuenta algún horóscopo chino (Gallo,
                                año 1993).</p>
                            <!-- Skills -->
                            <h2 id="skills" class="mt-4">Skills</h2>
                            <span class="badge bg-cyan">python</span>
                            <span class="badge bg-cyan">web</span>
                            <span class="badge bg-cyan">backend</span>
                            <span class="badge bg-cyan">web2py</span>
                            <span class="badge bg-cyan-lt">sql</span>
                            <span class="badge bg-cyan-lt">flask</span>
                            <span class="badge bg-cyan-lt">data science</span>
                            <span class="badge bg-cyan-lt">web-scaping</span>
                            <!-- Experience -->
                            <h2 id="experience" class="mt-5">Experiencia</h2>
                            <div class="page-pretitle">2020 - 2021</div>
                            <a class="page-title" href="https://coe.tucuman.gov.ar">Comité Operativo de Emergencia
                                Tucumán <i data-feather="external-link" class="icon m-1"
                                    style="width: 15px; height: 15px;"></i></a>
                            <p>Personal Policial. Administrativo. Etapa del COVID-19.</p>
                            <div class="page-pretitle">2017 - 2021</div>
                            <a class="page-title" href="https://minsegtuc.gov.ar">Ministerio de Seguridad - Tucumán<i
                                    data-feather="external-link" class="icon m-1"
                                    style="width: 15px; height: 15px;"></i></a>
                            <p>Personal Policial. Informático y administrativo.</p>
                            <!-- Education -->
                            <h2 id="education" class="mt-5">Educación</h2>
                            <div class="page-pretitle">2020 - 2021</div>
                            <a class="page-title" href="https://www.acamica.com">Acámica<i data-feather="external-link"
                                    class="icon m-1" style="width: 15px; height: 15px;"></i></a>
                            <p>Data Science. 8 meses. <em>Presentar Proyecto Final.</em>
                            </p>
                            <div class="page-pretitle">2012 - Presente</div>
                            <a class="page-title" href="http://frt.utn.edu.ar/">Universidad Tecnológica Nacional<i
                                    data-feather="external-link" class="icon m-1"
                                    style="width: 15px; height: 15px;"></i></a>
                            <p>Ingeniería en Sistemas de Información. <em>Presentar Proyecto Final de Carreras.</em>
                            </p>

                            <!-- Potfolio -->
                            <h2 id="portfolio" class="mt-5">Portfolio</h2>
                            <div>
                                <div class="card">
                                    <div class="list-group list-group-flush">
                                        <div class="list-group-item">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <span class="avatar bg-orange-lt rounded-circle">
                                                        <i data-feather="message-circle" class="icon"></i>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <h3>Dialogflow Response</h3>
                                                    <div class="mb-3">
                                                        <span class="badge bg-green-lt">python</span>
                                                        <span class="badge bg-azure-lt">library</span>
                                                        <span class="badge bg-azure-lt">chat</span>
                                                        <span class="badge bg-azure-lt">dialogflow</span>
                                                    </div>
                                                    <p>Permite crear respuestas enriquecidas de manera sencilla según la
                                                        plataforma
                                                        de chat (Google On Action, Messanger, Telegram) para el servicio
                                                        de <a href="dialogflow.cloud.google.com/">Dialogflow</a>.</p>
                                                    <a href="https://github.com/bruino/dialogflow-response"
                                                        class="btn btn-pill">
                                                        <i data-feather="external-link" class="icon me-2"></i>
                                                        Github
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <span class="avatar bg-gray-lt rounded-circle">
                                                        <i data-feather="layout" class="icon"></i>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <h3>Web Seguimiento de Expedientes</h3>
                                                    <div class="mb-3">
                                                        <span class="badge bg-green-lt">python</span>
                                                        <span class="badge bg-azure-lt">web</span>
                                                        <span class="badge bg-azure-lt">web2py</span>
                                                    </div>
                                                    <p>Registra las entradas y salidas de expedientes. Es usado para
                                                        control interno
                                                        en las
                                                        oficinas del <a href="http://minsegtuc.gov.ar">Ministerio de
                                                            Seguridad de la Provincia de Tucumán.</a></p>
                                                    <a href="https://github.com/bruino/expedientes"
                                                        class="btn btn-pill">
                                                        <i data-feather="external-link" class="icon me-2"></i>
                                                        Github
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <span class="avatar bg-gray-lt rounded-circle">
                                                        <i data-feather="layout" class="icon"></i>
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <h3>Página Web del Min. de Seguridad</h3>
                                                    <div class="mb-3">
                                                        <span class="badge bg-green-lt">python</span>
                                                        <span class="badge bg-azure-lt">web</span>
                                                        <span class="badge bg-azure-lt">django-cms</span>
                                                    </div>
                                                    <p>Página Web oficial del Ministerio de
                                                        Seguridad de la Provincia de Tucumán.</a></p>
                                                    <a href="http://minsegtuc.gov.ar"
                                                        class="btn btn-outline-primary btn-pill">
                                                        <i data-feather="external-link" class="icon me-2"></i>
                                                        Ir a la web
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog -->
                            <h2 id="blog" class="mt-5">Blog</h2>
                            <div id="articles">
                                <div class="card">
                                    <div class="list-group list-group-flush">
                                        <div v-if="posts.length > 0" class="list-group-item" v-for="post in posts">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <img src="assets/dev-badge.svg"
                                                        alt="Bruno Sarverry's DEV Community Profile" height="30"
                                                        width="30">
                                                </div>
                                                <div class="col">
                                                    <h3>{{ post.title }}</h3>
                                                    <div>
                                                        <span class="text-muted" v-for="tag of post.tag_list"> #{{ tag
                                                            }}</span>
                                                    </div>
                                                    <p class="d-block mt-1">
                                                        {{ post.description }}
                                                    </p>
                                                    <div class="card-text">
                                                        <a v-bind:href="post.url" class="btn btn-white btn-pill">
                                                            Leer más</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/tabler.min.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="js/vue.global.prod.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    posts: []
                }
            },
            created() {
                fetch('https://dev.to/api/articles?username=bruino')
                    .then(response => response.json())
                    .then(json => {
                        this.posts = json.slice(0, 3);
                    })
            }
        }).mount('#articles')
    </script>
    <script>feather.replace()</script>
</body>

</html>